.editpane-container {
  background-color: var(--primary-400);
  width: 80%;

  .tabbar-container {
    border: 1px var(--primary-300) solid;
    border-top: none;
    color: var(--primary-100);
    display: flex;
    font-size: 12px;
    font-weight: bolder;
    height: 35px;
    overflow-x: auto;

    .tab-item {
      display: flex;
      padding: 8px 12px;
      white-space: nowrap;

      &.active-tab {
        background-color: var(--primary-300);
        position: relative;

        &::before {
          background-color: var(--secondary-200);
          content: "";
          display: block;
          left: 0;
          top: 0;
          height: 3px;
          width: 100%;
          position: absolute;
        }
      }

      .tab-item-icon {
        align-items: center;
        display: flex;
        margin-left: 3px;
        margin-right: -3px;
      }

      .tab-item-button {
        aspect-ratio: 1 / 1;
        align-items: center;
        justify-content: center;
        display: flex;
        margin-left: 3px;
        margin-right: -3px;

        &:hover {
          background-color: var(--primary-200);
          border-radius: 50%;
          transition-duration: 0.1s;
        }
      }
    }
  }

  .breadcrumb-container {
    align-items: center;
    background-color: var(--primary-300);
    color: var(--primary-100);
    display: flex;
    font-size: 12px;
    font-weight: 500;
    height: 25px;
    overflow-x: hidden;
    padding: 0 12px;
  }

  .editpane-editor {
    padding-top: 8px;
    height: calc(100% - 60px);
  }
}